# 默认忽略的文件
/shelf/
/workspace.xml

/Interview_Questions/GongChunagTeam/百度&工创视觉考核/*
/Interview_Questions/GongChunagTeam/百度&工创视觉考核/nailong.v1i.yolov11/*
/Interview_Questions/GongChunagTeam/百度&工创视觉考核/2025年智能车实验室百度组与工创组视觉考核.docx
Interview_Questions/GongChunagTeam/百度&工创视觉考核/nailong.v1i.yolov11.zip
Interview_Questions/GongChunagTeam/百度&工创视觉考核/output.avi